In [16]:
import pandas as pd
import re

In [70]:
raw = pd.read_csv('raw_data.csv')
simple_words = pd.read_csv('simple_words.csv')

In [71]:
simple_words = simple_words.head(3000)
simple_words.dropna(inplace = True)
simple_words["word"] = simple_words["word"].apply(lambda x: x.upper())
simple_words

           word        count
0           THE  23135851162
1            OF  13151942776
2           AND  12997637966
3            TO  12136980858
4             A   9081174698
...         ...          ...
2995       SEXO     25849932
2996         AP     25843002
2997   PATTERNS     25809816
2998      BOXES     25787744
2999  LOUISIANA     25779604

[2999 rows x 2 columns]

In [72]:
simple_words["word"]

0             THE
1              OF
2             AND
3              TO
4               A
          ...
2995         SEXO
2996           AP
2997     PATTERNS
2998        BOXES
2999    LOUISIANA
Name: word, Length: 2999, dtype: object

In [12]:
string = raw["paragraph"].head(1)[0]
string

'The manufacturing business faces huge transformations nowadays. Due to rapid development of digital world and broad application of data science, various fields of human activity seek improvement. Modern manufacturing is often referred to as industry 4.0 that is the manufacturing under conditions of the fourth industrial revolution that has brought robotization, automation and broad application of data'

In [22]:
# loop the string
arr = string.split(" ")

for s in arr:
    print(s)

The
manufacturing
business
faces
huge
transformations
nowadays.
Due
to
rapid
development
of
digital
world
and
broad
application
of
data
science,
various
fields
of
human
activity
seek
improvement.
Modern
manufacturing
is
often
referred
to
as
industry
4.0
that
is
the
manufacturing
under
conditions
of
the
fourth
industrial
revolution
that
has
brought
robotization,
automation
and
broad
application
of
data

In [78]:
for s in arr:
    if s.upper() not in simple_words["word"].values:
        print(s)

faces
transformations
nowadays.
rapid
broad
science,
seek
improvement.
4.0
fourth
revolution
robotization,
automation
broad